{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section>
        <div class="flex flex-col justify-center items-center">
    <h2 class="text-center">S'incrire</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName , {'attr' : {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5','placeholder':'John'}, 'label': 'Ton prénom'})}}
        {{ form_row(registrationForm.lastName, {'attr' : {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5','placeholder':'Doe'}, 'label': 'Ton nom'})}}
        {{ form_row(registrationForm.phoneNumber , {'attr' : {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5','placeholder':'0600000000'}, 'label': 'Ton numéro de téléphone'})}}
        {{ form_row(registrationForm.profilePicture , {'attr' : {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5'}, 'label': 'Ta photo de profil'})}}
        {{ form_row(registrationForm.email , {'attr' : {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5','placeholder':'John.doe@gmail.com'}, 'label': 'Ton email'})}}
        {{ form_row(registrationForm.plainPassword , {'attr' : {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5','placeholder':'Password'}, 'label': 'Ton mot de passe'})}}
        {{ form_row(registrationForm.agreeTerms)}}

        <div class="flex items-center justify-center">
            <button type="submit"
                    class="bg-valid font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                S'inscrire
            </button>
        </div>
    {{ form_end(registrationForm) }}
        </div>
    </section>
{% endblock %}
