<div class="flex justify-center items-center">
{{ form_start(visitForm) }}
    {{ form_row(visitForm.dateStart , {'attr': {'class': 'w-[28rem] flex justify-center items-center mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5'}}) }}
    {{ form_row(visitForm.dateEnd , {'attr': {'class': 'w-[28rem] flex justify-center items-center mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5'}}) }}
    {{ form_row(visitForm.property , {'attr': {'class': 'w-[28rem] flex justify-center items-center mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5'}}) }}

<div class="flex justify-center items-center">
    <button class="btn text-white bg-valid font-medium rounded-lg text-sm px-16 py-6 text-center mr-2 mb-2">{{ button_label|default('Créer une visite') }}</button>
</div>
{{ form_end(visitForm) }}
</div>