{{ form_start(propertyForm) }}
    {{ form_row(propertyForm.name) }}
    {{ form_row(propertyForm.description) }}
    {{ form_row(propertyForm.price) }}
    {{ form_row(propertyForm.surface) }}
    {{ form_row(propertyForm.city) }}
    {{ form_row(propertyForm.zipCode) }}
    {{ form_row(propertyForm.address) }}
    {{ form_row(propertyForm.category) }}
    {{ form_row(propertyForm.payment) }}
    {{ form_row(propertyForm.pictures) }}

    <button class="btn">{{ button_label|default('Save') }}</button>


{{ form_end(propertyForm) }}
