{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Surface</th>
                <th>City</th>
                <th>Address</th>
                <th>Zip Code</th>
                <th>Owner</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.name }}</td>
                <td>{{ property.description }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.surface }}</td>
                <td>{{ property.city }}</td>
                <td>{{ property.address }}</td>
                <td>{{ property.zipCode }}</td>
                <td>{{ property.owner.fullName }}</td>

                <td>
                    <a href="{{ path('app_property_show', {'id': property.id}) }}">show</a>
                    <a href="{{ path('app_property_edit', {'id': property.id}) }}">edit</a>
                </td>
            </tr>
            {% for picture in property.pictures %}
                <img src="{{ asset(property_url ~ '/' ~ picture.url) }}" alt="picture" width="100" height="100">
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_property_new') }}">Create new</a>
{% endblock %}
