{% extends 'base.html.twig' %}

{% block title %}Property{% endblock %}

{% block body %}
    <section>
        <div class="flex justify-between">
            <h2>{{ property.name }}</h2>
            {% if app.user %}
            {% if app.user.id != property.owner.id %}
                <div class="flex justify-center items-center">
                    <a href="{{ path('ajoutfavori',{'id':property.id}) }}">
                        <div class="flex justify-center items-center bg-gray-100 rounded-full h-14 w-14">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26zm0-2.292l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275l-2.038 4.42-4.833.572 3.573 3.305-.949 4.773L12 15.968z"/>
                            </svg>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="flex justify-center items-center">
                    <div class="flex justify-center items-center bg-gray-100 rounded-full h-14 w-14">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zm-6-2h5V9.157l-6-5.454-6 5.454V19h5v-6h2v6z"/>
                        </svg>
                    </div>
                </div>
            {% endif %}
            {% else %}
                <a href="{{ path('app_login') }}"
                   class="w-56 text-blue-500 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-400 md:p-0">Connecter vous pour ajouter aux favoris</a>
            {% endif %}
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-4 mb-12">
            {% if property.pictures|length > 0 %}
                <div id="carrousel" class="col-span-3 mb-4">
                    <div id="container" class="flex items-center justify-center">
                        {% for picture in property.pictures %}
                            <img src="{{ asset(property_url ~ '/' ~ picture.url) }}" alt="picture"
                                 class="hidden w-full h-[400px]">
                        {% endfor %}
                    </div>
                    <img src="{{ asset('picture/icons8-flèche-droite-90.png') }}" alt="Prev" class="bouton" id="prev">
                    <img src="{{ asset('picture/icons8-flèche-droite-90.png') }}" alt="Next" class="bouton" id="next">
                </div>
            {% else %}
                <div id="carrousel" class="col-span-3 bg-white mb-4">
                    <div id="container" class="flex items-center justify-center">
                        <img src="{{ asset('uploads/property/nopicture.jpg') }}" alt="picture"
                             class="hidden w-[250] h-[250]">
                    </div>
                </div>
            {% endif %}
            <div class="ml-16">
                <h3 class="mb-4">Superficie :</h3>
                <p>{{ property.surface }} m²</p>
                <h3 class="mb-4">Prix :</h3>
                <p>{{ property.price }} €</p>
                <h3 class="mb-4">Mode de payement :</h3>
                <p class="capitalize">{{ property.payment.name }}</p>
            </div>
        </div>
        <div class="mb-8">
            <div class="mb-6">
                <h3>Description :</h3>
                <p>{{ property.description }}</p>
            </div>
            <div class="mb-6">
                <h3 class="mb-4">Adresse :</h3>
                <p>{{ property.halfAddress }}</p>
            </div>
        </div>
        {% if visits|length > 0 %}
            <div class="mb-8">
                <h3 class="mb-4">Futur Visites :</h3>
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Début de la visite
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Fin de la visite
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Visiteur ?
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for visit in visits %}
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    <time datetime="{{ visit.dateStart|date('Y-m-d h:i') }}">
                                        {{ visit.dateStart|date('l jS \\o\\f F  \\a\\t g:i a') }}
                                    </time>
                                </th>
                                <td class="px-6 py-4">
                                    <time datetime="{{ visit.dateEnd|date('Y-m-d h:i') }}">
                                        {{ visit.dateEnd|date('l jS \\o\\f F  \\a\\t g:i a') }}
                                    </time>
                                </td>
                                <td>
                                    {% if visit.visitor %}
                                        <p>Il y a deja un visiteur</p>
                                    {% else %}
                                        {% if app.user %}

                                            {% if app.user.id != property.owner.id %}
                                                <a href="{{ path('app_visit_inscription',{'id' : visit.id}) }}"> Il n'y
                                                    pas
                                                    de visiteur inscrivez vous !
                                                </a>
                                            {% else %}
                                                <p>Vous êtes le propriétaire</p>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ path('app_login') }}">Connectez vous pour vous inscrire</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        {% endif %}
        <div class="mb-8">
            <h3>Propriétaire :</h3>
            <p>{{ property.owner.fullName }}</p>

        </div>
        <a href="{{ path('property_list') }}">
            <button type="button"
                    class="text-white bg-main font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                Retour
            </button>
        </a>
    </section>
    {% block javascripts %}
        <script type="text/javascript">
            document.body.onload = function () {
                let container = document.getElementById('container');
                let prev = document.getElementById('prev');
                let next = document.getElementById('next');

                container.firstElementChild.classList.remove('hidden');

                function nextSlide() {
                    let img = container.querySelector('img:not(.hidden)');
                    img.classList.add('hidden');
                    if (img.nextElementSibling) {
                        img.nextElementSibling.classList.remove('hidden');
                    } else {
                        container.firstElementChild.classList.remove('hidden');
                    }
                }

                function prevSlide() {
                    let img = container.querySelector('img:not(.hidden)');
                    img.classList.add('hidden');
                    if (img.previousElementSibling) {
                        img.previousElementSibling.classList.remove('hidden');
                    } else {
                        container.lastElementChild.classList.remove('hidden');
                    }
                }

                const interval = setInterval(nextSlide, 5000);
                next.addEventListener('click', () => {
                    clearInterval(interval);
                    nextSlide();
                });
                prev.addEventListener('click', () => {
                    clearInterval(interval);
                    prevSlide();
                });
            }
        </script>
    {% endblock %}
{% endblock %}
