{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <section>
    <h2 class="mb-8">Listes des Utilisateurs</h2>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Roles
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Prénom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Numéro de Téléphone
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Photo de Profile
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ user.id }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.email }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.roles ? user.roles|json_encode : '' }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.lastName }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.firstName }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.phoneNumber }}
                    </td>
                    <td class="px-6 py-4">
                        <img src="{{ asset('uploads/pp/' ~ user.profilePicture) }}" alt="Photo de profile"
                             class="rounded-full w-24 h-24 inline-grid">
                    </td>
                    <td class="px-6 py-4">
                        <a href="{{ path('app_user_admin_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('app_user_admin_edit', {'id': user.id}) }}">edit</a>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <a href="{{ path('app_user_admin_new') }}">Create new</a>
        <a href="{{ path('admin_dashboard') }}" class="text-white bg-main font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Retour</a>
    </section>
{% endblock %}
