<div class="flex justify-center items-center">
{{ form_start(form) }}
    {{ form_row(form.name , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Titre de votre propriété'}},{'label_attr':'Titre de votre propriéte'}) }}
    {{ form_row(form.description , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Description de votre propriété'}},{'label_attr':'Description de votre propriéte'}) }}
    {{ form_row(form.price , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Prix de votre propriété'}},{'label_attr':'Prix de votre propriéte'}) }}
    {{ form_row(form.surface , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Surface de votre propriété'}},{'label_attr':'Surface de votre propriéte'}) }}
    {{ form_row(form.city , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Ville de votre propriété'}},{'label_attr':'Ville de votre propriété'}) }}
    {{ form_row(form.zipcode , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Code postale de votre propriété'}},{'label_attr':'Code postale de votre propriété'}) }}
    {{ form_row(form.address , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Adresse de votre propriété'}},{'label_attr':'Adresse de votre propriété'}) }}
    {{ form_row(form.room , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Nombre chambres'}},{'label_attr':'Nombre chambres'}) }}
    {{ form_row(form.owner , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Propriétaire'}},{'label_attr':'Propriétaire'}) }}
    {{ form_row(form.category , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Catégorie de votre propriéte'}},{'label_attr':'Catégorie de votre propriéteé'}) }}
    {{ form_row(form.payment , {'attr': {'class': 'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Type de transaction'}},{'label_attr':'Type de transaction de votre propriéte'}) }}
    {{ form_row(form.pictures , {'attr': {'class':'w-80 mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5','placeholder':'Photos de votre Propriété'}}) }}
    {{ form_rest(form) }}
<div class="flex justify-center items-center">
    <button type="submit" class="bg-valid text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">{{ button_label|default('Créer') }}
    </button>
</div
{{ form_end(form) }}
</div>