{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Surface</th>
                <th>City</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>Room</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.name }}</td>
                <td>{{ property.description }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.surface }}</td>
                <td>{{ property.city }}</td>
                <td>{{ property.address }}</td>
                <td>{{ property.zipcode }}</td>
                <td>{{ property.Room }}</td>
                <td>
                    <a href="{{ path('app_property_admin_show', {'id': property.id}) }}">show</a>
                    <a href="{{ path('app_property_admin_edit', {'id': property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_property_admin_new') }}" class="text-white bg-valid font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Nouveau</a>
    <a href="{{ path('admin_dashboard') }}" class="text-white bg-main font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Retour</a>
{% endblock %}
