{% extends 'admin/base.html.twig' %}

{% block title %}Payment index{% endblock %}

{% block body %}
    <section>
    <h2 class="mb-4">Types de transaction</h2>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-4">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Show</span>
                </th>

            </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">
                    {{ payment.id }}
                </td>
                <td class="px-6 py-4">
                    {{ payment.name }}
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="{{ path('app_payment_edit', {'id': payment.id}) }}" class="font-medium text-green-600 dark:text-green-500 hover:underline">Edit</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="{{ path('app_payment_show', {'id': payment.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Show</a>
            </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_payment_new') }}" class="text-white bg-valid font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Nouveau</a>
    <a href="{{ path('admin_dashboard') }}" class="text-white bg-main font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Retour</a>
    </section>
{% endblock %}
